<% unless @one_litecoin.empty? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span><%= t('.one') %></span>
    </div>
    <%= render partial: 'table', locals: {litecoin: @one_litecoin} %>
  </div>
<% end %>
<% unless @all_litecoin.empty? %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <span><%= t('.all') %></span>
    </div>
    <%= render partial: 'table', locals: {satoshis: @all_litecoin} %>
  </div>
<% end %>

<% if @all_litecoin.empty? and @one_litecoin.empty? %>
  <h3 class="text-info text-center"><%= t('.empty') %></h3>
<% end %>
