<div class="container accountments-pages">
  <%= render 'tabs', active: :deposit %>

  <div class="card card-accountments" id="deposit">
    <div class="card-body">
      <div class="col-24">
        <div class="card">
          <div class="m-4">
            <div class="container">
             <div class="row">
              <div class="col-sm-6">
                <h5>Currency</h5>
                <% Currency.all.each do |currency| %>
                  <%= link_to currency.id.upcase, deposits_admin_accountments_path(params.merge(currency_id: currency.id).except(:action,:controller)), :class => 'btn btn-primary'%>
                <% end %>
                <%= link_to 'All', deposits_admin_accountments_path(params.merge(currency_id: nil).except(:action,:controller)), :class => 'btn btn-primary'%>
              </div>
              <div class="col-sm-6">
                <h5>State</h5>
                <%= link_to 'Accepted', deposits_admin_accountments_path(params.merge(aasm_state: 'accepted').except(:action,:controller)), :class => 'btn btn-primary'%>
                <%= link_to 'Submited', deposits_admin_accountments_path(params.merge(aasm_state: 'submitted').except(:action,:controller)), :class => 'btn btn-primary'%>
                <%= link_to 'Waited', deposits_admin_accountments_path(params.merge(aasm_state: 'waited').except(:action,:controller)), :class => 'btn btn-primary'%>
                <%= link_to 'All', deposits_admin_accountments_path(params.merge(aasm_state: nil).except(:action,:controller)), :class => 'btn btn-primary'%>
              </div>
             </div>
            </div>
          </div>
        </div>
         
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th><%= t('.member_id') %></th>
            <th><%= t('.currency') %></th>
            <th><%= t('.amount') %></th>
            <th><%= t('.fee') %></th>
            <th><%= t('.address') %></th>
            <th><%= t('.txid') %></th>
            <th><%= t('.state') %></th>
            <th><%= t('.created_at') %></th>
            <th><%= t('.completed_at') %></th>
          </tr>
          </thead>
          <tbody class="list">
          <%= render partial: 'deposit', collection: @deposits %>
          </tbody>
        </table>
        <div class="float-right">
          <%= paginate @deposits %>
        </div>
      </div>
    </div>
  </div>
</div>
