<div class="container accountments-pages">
  <%= render 'tabs', active: :trade %>
  <div class="card card-accountments" id="trades">
    <div class="card-body">
      <div class="col-24">
        <div class="card">
          <div class="m-4">
           <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <h5>Market</h5>
                <% Market.all.each do |market| %>
                  <%= link_to market.id, trades_admin_accountments_path(params.merge(market_id: market.id).except(:action,:controller)), :class => 'btn btn-primary'%>
                <% end %>
                <%= link_to 'All', trades_admin_accountments_path(params.merge(market_id: nil).except(:action,:controller)), :class => 'btn btn-primary'%>
              </div>
             </div>
            </div>  
          </div>
        </div>
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th><%= t('.id') %></th>
            <th><%= t('.bid_member_email') %></th>
            <th><%= t('.ask_member_email') %></th>
            <th><%= t('.price') %></th>
            <th><%= t('.volume') %></th>
            <th><%= t('.ask_id') %></th>
            <th><%= t('.bid_id') %></th>
            <th><%= t('.trend') %></th>
            <th><%= t('.market_id') %></th>
            <th><%= t('.funds') %></th>
            <th><%= t('.created_at') %></th>
          </tr>
          </thead>
          <tbody class="list">
            <%= render partial: 'trade', collection: @trades %>
          </tbody>
        </table>
        <div class="float-right">
          <%= paginate @trades %>
        </div>
      </div>
    </div>
  </div>
</div>