<label>Bitgo Test Net</label>
<%= check_box_tag 'wallet[settings][bitgo_test_net]', @wallet.settings[:bitgo_test_net] %><br>

<label>Bitgo Wallet Address</label>
<%= text_field_tag 'wallet[settings][bitgo_wallet_address]', @wallet.settings[:bitgo_wallet_address], class: 'form-control mb-3' %>

<label>Bitgo Wallet Passphrase</label>
<%= text_field_tag 'wallet[settings][bitgo_wallet_passphrase]', @wallet.settings[:bitgo_wallet_passphrase], class: 'form-control mb-3' %>

<label>Bitgo Rest Api Root</label>
<%= text_field_tag 'wallet[settings][bitgo_rest_api_root]', @wallet.settings[:bitgo_rest_api_root], class: 'form-control mb-3' %>

<label>Bitgo Rest Api Access Token</label>
<%= text_field_tag 'wallet[settings][bitgo_rest_api_access_token]', @wallet.settings[:bitgo_rest_api_access_token], class: 'form-control mb-3' %>