<%= table_for withdraws, class: 'table table-bordered table-striped', model: Withdraws::Coin do |t| %>
  <% t.column :txid do |x| %>
    <a href="<%= x.transaction_url %>" target="_blank">
      <code class="text-info"><%= x.txid.truncate(10) %></code>
    </a>
  <% end %>
  <% t.column 'Withdraw Address' do |x| %>
    <a href="<%= x.wallet_url %>" target="_blank">
      <code class="text-info"><%= x.rid %></code>
    </a>
  <% end %>
  <% t.column :created_at %>
  <% t.column :completed_at %>
  <% t.column 'Member Email' do |x| %>
    <a href="<%= url_for([:admin, x.member]) %>" target="_blank">
      <code class="text-info"><%= x.member.email %></code>
    </a>
  <% end %>
  <% t.column :amount %>
  <% t.column :fee %>
  <% t.column :sum %>
  <% t.column :state_and_action do |x| %>
    <span><%= x.aasm_state.humanize %> / </span>
    <%= link_to t('actions.view'), admin_withdraw_path(currency: x.currency.code, id: x) %>
  <% end %>
<% end %>
