<div class="col-xs-10">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span>Market info</span>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal dl-member">
        <%= form_for @market, as: :trading_pair, url: admin_market_url(@market.id) do |f| %>
          <dt>Bid unit</dt>
          <dd><%= @market.bid_unit.upcase %></dd>
          <dt>Bid fee</dt>
          <dd><%= f.number_field :bid_fee, step: 0.1, class: 'col-xs-24' %></dd>
          <dt>Bid precision</dt>
          <dd><%= f.number_field :bid_precision, in: 0..4, class: 'col-xs-24' %></dd>
          <hr class="split">
          <dt>Ask unit</dt>
          <dd><%= @market.ask_unit.upcase %></dd>
          <dt>Ask fee</dt>
          <dd><%= f.number_field :ask_fee, step: 0.1, class: 'col-xs-24' %></dd>
          <dt>Ask precision</dt>
          <dd><%= f.number_field :ask_precision, in: 0..4, class: 'col-xs-24' %></dd>
          <hr class="split">
          <dt>Visible</dt>
          <dd><%= f.check_box :visible, class: 'col-xs-24' %></dd>
          <dt>Position</dt>
          <dd><%= f.number_field :position, class: 'col-xs-24' %></dd>
          <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
        <% end %>
      </dl>
    </div>
  </div>
</div>
